
.homeshop{
    margin-top: 190px;
    margin-left: 100px;
    cursor: pointer;
}

.imagens {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-top: 25px;
}

.imagens-pequenas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagens-pequenas img {
    width: 152px; /* Tamanho das miniaturas */
    height: 167px;
    cursor: pointer;
}

.imagem-grande {
    width: 444px; /* Tamanho da imagem maior */
    height: 530px;
    padding: 5px;
}

.inicio{
   position: relative;
}

.infoo , .imagens-pequenas{
    margin-left: 25px;
}

.f1{
    position: absolute;
    margin-top: 0px;
}
.f2{
    position: absolute;
    margin-top: 25px;
}
.f3{
    position: absolute;
    margin-top: 30px;
}
.f4{
    position: absolute;
    margin-top: 32px;
    margin-left: 190px;
}
.f5{
    position: absolute;
    margin-top: 70px;
}
.f6{
    position: absolute;
    margin-top: 110px;
}
.f7{
    position: absolute;
    margin-top: 110px;
}
.f8{
    position: absolute;
    margin-top: 25px;

}

.color-picker {
    display: flex;
    gap: 20px;

  }
  
  .color-btn {
    margin-top: 120px;
    width: 37px;
    height: 37px;
    border-radius: 50%; /* Botão circular */
    cursor: pointer;
    position: relative; /* Para posicionar o ícone */
    border: 3px solid transparent;
  }
  
  .color-btn:hover {
    transform: scale(1.1); /* Efeito hover */
  }
  
  .color-btn.selected {
    border: 2px solid #333; /* Borda do botão selecionado */
  }
  
  /* Ícone de check */
  .color-btn.selected::after {
    content: '✔';
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

  .f9{
    margin-top: 25px;
  }

  .size-picker {
    display: flex;
    gap: 12px;
    margin-top: 20px;  }
  
  .size-btn {
    width: 86px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    color: black;
    transition: all 0.2s ease;
  }
  
  .size-btn:hover {
    background-color: #f0f0f0;
  }
  
  .size-btn.selected {
    border: 2px solid black;
    background-color: black;
    color: white; /* Texto branco quando selecionado */
  }
  
  #selected-size {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
  }

.f10{
    margin-top: 25px;
}


.contador {
    display: flex;
    align-items: center;
    gap: 30px; /* Espaçamento entre os elementos */
  }

  .quantity-selector {
    height: 52px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 62px;
    background-color: #f0f0f0;
  }

  .quantity-selector button {
    height: 52px;
    border: none;
    padding: 8px 30px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 62px;

  }

  .add-button {
    margin-top: 20px;
    width: 400px;
    height: 52px;
    border: none;
    border-radius: 62px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
  }

  .selector{
    position: relative;
    text-align: center;
    margin-top: 90px;
  }

  .details{
    margin-right: 350px;
    cursor: pointer;
  }

  .faqs{
    margin-left: 350px;
    margin-right: 80px;
    cursor: pointer;
  }

  .reviews{
    cursor: pointer;
  }

  .linhapp{
    position: absolute;
    margin-top: 14px;
    margin-left: -825px;
  }

  .allre{
    position: relative;
    text-align: center;
    margin-top: 10px;
  }

  .num451{
    padding-right: 720px;
  }

  .filter{
    padding-top: 10px;
    cursor: pointer;
  }

  .coments{
    text-align: center;
  }

  .samantha{
    padding: 40px 10px 10px 0px;
}

.alex{
    padding: 40px 0px 10px 10px;
}

.ethan{
    padding: 10px 10px 10px 0px;
}

.olivia{
    padding: 10px 0px 10px 10px;
}

.liam{
    padding: 10px 10px 60px 0px;
}

.ava{
    padding: 10px 0px 60px 10px;
}

.btn light{
    width: 230px;
    height: 52px;
    margin-top: 40px;
    border-radius: 62px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    border-color: #f0f0f0;
}

.alsolike{
    text-align: center;
    margin-top: 100px;
}
