/* Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: auto;
    background-color: #ffffff;
}

/* Estilos do cabeçalho */

header {
    background-color: #ffffff;
}

.top-banner p {
    background-color: #000000;
    color: #ffffffd7;
    text-align: center;
    height: 38px;
    padding: 10px;
    font-size: 14px;
    font-weight: 10;
    line-height: 18.9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-banner a {
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
    text-decoration: underline solid auto auto;
}

nav {
    background-color: #ffffff;
    display: flex;
    height: 95px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 160px;
    height: 22px;
    margin-left: 20px;
    padding-bottom: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

nav ul li a {
   gap: 24px;
}

nav input[type="text"] {
    padding: 10px 16px 12px 45px;
    width: 577px;
    height: 48px;
    border-radius: 62px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    font-size: 15px;
    line-height: 21.6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.icons span {
    cursor: pointer;
    padding-right: 15px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    width: 250px;
    padding: 10px 10px 10px 50px; /* Espaço para a lupa */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-container img {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Evita interferência no clique */
    transition: opacity 0.2s ease-in-out;
}

/* Estilos da seção hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background: url(imagens/fundo.png);
    height: 663px;
    position: relative;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    width: 750px;
    height: 205px;
    padding-left: 80px;
    padding-top: 0px;

}

.hero-content p {
    width: 630px;
    height: 33px;
    margin-bottom: 5%;
    padding-left: 80px;
    margin-top: 0px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-content button {
    width: 210px;
    height: 52px;
    background-color: #000000;
    border-radius: 62px;
    margin-bottom: 7%;
    margin-left: 80px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

#num {
    height: 74px;
    width:596px;
    margin-left: 80px;    
}

/*Estrelas Piscando*/

#starg {
    
    position: absolute;
    top: 135px;  /* Ajuste a posição vertical */
    left: 1255px; /* Ajuste a posição horizontal */
    animation: blink 3s infinite;
    transform: translateY(-50%);
}

@keyframes blink {
    20%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#starp {
    transform: translateY(-50%);
    position: absolute;
    top: 320px;  /* Ajuste a posição vertical */
    left: 750px; /* Ajuste a posição horizontal */
    animation: blink 3s infinite;
}


/* Estilos da seção de marcas */
.brands {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 10px 40px 10px;
    background-color: #000000;
}

/* Estilos da seção de novos produtos */


.top-selling{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    align-items: center;

}

.new-arrivals {
    margin-top: 0px;
    padding: 90px;
    text-align: center;
    background-color: #ffffff;
    align-items: center;
}


.products {
    display:flex;
    justify-content:center;
    gap: 20px;
    margin-top: 55px;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.product p {
    text-align: left;
    margin-top: 20px;
    align-self: flex-start;
}

.new-arrivals button {
   
    width: 218px;
    height: 52px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #0000001A;
    border-radius: 62px;
    cursor: pointer;
    border: 1px solid #0000001A;
    gap: 12px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 50px;
}

.top-selling button {
    
    width: 218px;
    height: 52px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #0000001A;
    border-radius: 62px;
    cursor: pointer;
    border: 1px solid #0000001A;
    gap: 12px;
    margin-top: 40px;
    font-size: 16px;
}

.line {
    text-align: center;
    background-color: #f0f0f0;
}

/* Estilos da seção de estilos de vestuário */

.dress-style {
    width: 1239px;
    height: 866px;
    border-radius: 40px;
    margin-left: 100px;
    padding-top: 90px;
    background-color: #f0f0f0;
    margin-top: 80px;
    text-align: center;
}


.styles {
    display: flex;
    padding-top: 65px;
    cursor: pointer;
    gap: 20px;
    margin-left: 65px;
}

.sty {
    display: flex;
    padding-top: 15px;
    cursor: pointer;
    gap: 20px;
    margin-left: 65px;
}

/* Estilos da seção de clientes */

.customers {
    width: 1239px;
    padding-top: 100px;
    text-align: start;
    margin-left: 100px;
}

.customers button1 {
    
    border: #ffffff;
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 1150px;
}

.customers button2 {
    
    border: #ffffff;
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 20px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    cursor:default;
}

.review {
    display: flex;
    margin-top: 0px;
}

/* Estilos do rodapé */

.new {
    background: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 50%);
}


.newsletter {
    display: flex;
    margin-top: 75px;
    color: #ffffff;
    background-color: #000000;
    height: 180px;
    border-radius: 20px;
    padding: 36px 64px 36px 65px;
    align-items:center;
    width: 1239px;
    margin-left: 100px;
}

.newsletter p{
   padding-bottom: 0px; 
}

.input-container {
    position: relative;
    display: flex table-column;
    margin-left: 230px;
}

.input-container input {
    width: 349px;
    height: 50px;
    padding: 10px 10px 12px 45px; /* Espaço para o ícone */
    border-radius: 62px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    gap: 12px;
    background-color: #ffffff;
    color: gray;
}

.input-container img {
    position: absolute;
    left: 15px;
    top: 25px;
    transform: translateY(-50%);
    width: 24px; /* Tamanho do ícone */
    height: 24px;
    background-color: rgb(255, 255, 255);
}

.input-container button {
    width: 349px;
    height: 50px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 62px;
    padding: 10px 10px 12px;
    cursor: pointer;
}

footer {
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    list-style: none;
    height: 250px;
    padding-top: 25px;
    padding-left: 60px;
    justify-content: space-between;
    padding-right: 60px;
}

.footer-lin{
    list-style: none;
    padding: 15px 40px 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
    margin-top: 10px;
}

.footer-link{
    list-style: none;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.footer-links{
    list-style: none;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.footer-liinks{
    list-style: none;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.footer-liinkss{
    list-style: none;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.footer-link ul li a {
    color: #000000;
    text-decoration: none;
    list-style: none;
    background-color: #f0f0f0;
}

.footer-links ul li a {
    color: #000000;
    text-decoration: none;
    list-style: none;
    background-color: #f0f0f0;
}

.footer-liinks ul li a {
    color: #000000;
    text-decoration: none;
    list-style: none;
    background-color: #f0f0f0;
}

.footer-liinkss ul li a {
    color: #000000;
    text-decoration: none;
    list-style: none;
    background-color: #f0f0f0;
}

.footer-links ul, .footer-link ul, .footer-liinks ul, .footer-liinkss ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f0f0f0;
    list-style: none;
}

.footer-lin ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f0f0f0;
    list-style: none;
}

.rodape{
    height: 140px;
    padding-left: 100px;
    background-color: #f0f0f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: end;
}

.rodape p {
    width: 269px;
    height: 19px;    
    color: #000000;
    font-size: 14px;
    line-height: 18.9px;
    padding-top: 15px;
}
.rodape p1 {
    padding-top: 10px;
    cursor: pointer;
    margin-left: 920px;

}
